._*
Thumbs.db

# Editors
.vscode

# Built binaries
curses
hello_world
if
sdl_main
/todos/api/todos
/go/main
*.o
go-plunger

# build directories
build
target
dist
.cache

# Logs
*.log

# Cmake-generated makefiles
C++/plunger/**/Makefile

# Packages
node_modules

# Data Files
*.sqlite
*.db
