._*
Thumbs.db

# Editors
.vscode

# Built binaries
curses
hello_world
if
sdl_main
/Go/todos-backend/todos
*.o

# build directories
build
target

# Logs
*.log

# Cmake-generated makefiles
C++/plunger/**/Makefile

# Packages
node_modules

# Data Files
*.sqlite
*.db
